<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <!--  preloader start -->
    <div id="tb-preloader">
      <div class="tb-preloader-wave"></div>
    </div>
    <!-- preloader end -->

    <div class="wrapper">
      {% include header.html %}
      {{ content }}
      {% include timeline.html %}
      {% include footer.html %}
    </div>

    <!-- inject:js -->
    <script src="{{ site.baseurl }}/assets/vendor/modernizr/modernizr.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/jquery/jquery-1.10.2.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/bootstrap-validator/validator.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/breakpoint/breakpoint.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/count-to/jquery.countTo.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/countdown/jquery.countdown.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/easing/jquery.easing.1.3.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/elasic-slider/jquery.eislideshow.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/flex-slider/jquery.flexslider-min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/gmap/jquery.gmap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/images-loaded/imagesloaded.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/isotope/jquery.isotope.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/mailchimp/jquery.ajaxchimp.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/menuzord/menuzord.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/nav/jquery.nav.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/parallax-js/parallax.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/smooth/smooth.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/sticky/jquery.sticky.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/touchspin/touchspin.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/typist/typist.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/visible/visible.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/wow/wow.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/typeahead/typeahead.bundle.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/visjs/vis.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
    <script src="{{ site.baseurl }}/assets/js/scripts_mare.js"></script>
    <!-- endinject -->
  </body>

</html>
