---
layout: default
---


<!--hero section-->
<div class="banner-state vertical-align text-center banner-13">
  <div class="container-mid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="banner-title">
            <h1 class="text-uppercase light-txt m-bot-10 inline-block">IES Mare Nostrum</h1>
            <h3 class="text-uppercase light-txt m-bot-30 inline-block">Web en pruebas</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--hero section-->
<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
