---
layout: default
---

<!--page title start-->
<section class="page-title parallax-title ">
  <h4 class="text-uppercase">{{page.title}}</h4>
</section>
<!--page title end-->

<!--section-->
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="feature-box-grid" >
      {% for post in site.posts%}
        <div class="col-md-4" >
          <div class="featured-item border-box text-center">
            <div class="icon" >
              <i class="icon-lightbulb" >
              </i>
            </div>
            <div class="title text-uppercase">
              <h4>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h4>
            </div>
            <div class="desc">{{post.desc}}  </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!--section-->
