---
layout: default
---

{% include page_title.html %}

<!--section-->
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <dl class="toggle time-line">
          {% assign procesos = site.posts | where_exp:"item", "item.categories contains page.proceso " | group_by: "categories[2]" %}
          {% for convocatoria in procesos reversed %}
          {% assign grupos = convocatoria.items | group_by:"categories[3]" %}
          <dt>
            <!-- <a href="">{{convocatoria.name}}</a> -->
            {% assign convocatoria_name = convocatoria.items[0].categories[2] %}
            <a href="">{{convocatoria_name}}</a>
          </dt>
          <dd>
            <section class="square-tabs text-center">
              <ul class="nav nav-pills">
                {% for grupo in grupos %}
                <li>
                  <!-- <a data-toggle="tab" href="#tab-{{grupo.name | slugify}}-{{grupo.name | slugify}}">{{grupo.name}}</a> -->
                  {% assign grupo_name = grupo.items[0].categories[3] %}
                  <a data-toggle="tab" href="#tab-{{page.proceso | slugify}}-{{convocatoria_name | slugify}}-{{grupo_name | slugify}}">{{grupo_name}}</a>
                </li>
                {% endfor %}
              </ul>
              <div class="panel-body text-left">
                <div class="tab-content">
                  {% for grupo in grupos %}
                  <!-- <div id="tab-{{grupo.name | slugify }}-{{grupo.name | slugify}}" class="tab-pane"> -->
                  <div id="tab-{{page.proceso | slugify}}-{{convocatoria_name | slugify }}-{{grupo_name | slugify}}" class="tab-pane">
                    {% assign fases = grupo.items | group_by:"categories[4]" %}
                    <!-- <dl class="accordion {{grupo.name | slugify}}"> -->
                    <dl class="accordion {{grupo_name | slugify}}">
                      {% for fase in fases %}
                      {% assign fase_name = fase.items[0].categories[4] %}
                      <dt>
                        <!-- <a href="">{{fase.name}}</a> -->
                        <a href="">{{fase_name}}</a>
                      </dt>
                      <dd>
                        {% for post in fase.items reversed %}
                        {%assign path_fase = page.proceso | append: "/" | append: convocatoria_name | append: "/" | append: grupo_name | append: "/" | append: fase_name  | slugify %} 
                        <div>
                          <section class="border-tabs">
                            <ul class="nav nav-tabs">
                              <li>
                                <a data-toggle="tab" href="#tab-descripcion-{{path_fase}}">Descripción</a>
                              </li>
                              <li>
                                <a data-toggle="tab" href="#tab-documentos-{{path_fase}}">Documentos</a>
                              </li>
                            </ul>
                            <div class="panel-body">
                              <div class="tab-content">
                                <div id="tab-descripcion-{{path_fase}}" class="tab-pane">
                                  {{post.content}}
                                </div>
                                <div id="tab-documentos-{{path_fase}}" class="tab-pane">
                                  {% assign corte = post.path | split: "_posts" | first %}
                                  {% assign documentos = site.static_files | where_exp: "item", "item.path contains corte "%}
                                  {% for doc in documentos %}
                                  <p>
                                    <a href="{{site.baseurl}}{{doc.path}}">{{doc.path}}</a>
                                  </p>
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                          </section>
                        </div>
                        {% endfor %}
                      </dd>
                      {% endfor %}
                    </dl>
                  </div>
                  {% endfor %}
                </div> 
              </div>
            </section>
          </dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
</div>
<!--section-->
