---
layout: default
---

<!--page title start-->
<section class="page-title mini-title ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-uppercase">{{page.title}}</h4>
      </div>
    </div>
  </div>
</section>
<!--page title end-->
<!--section-->
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <dl class="toggle time-line">
          {% assign procesos = site.data.procesos | where_exp:"item", "item.proceso == page.proceso " | group_by:"convocatoria" | sort: 'name' %}
          {% for convocatoria in procesos reversed %}
          {% assign grupos = convocatoria.items | group_by:"grupo" %}
          <dt>
            <a href="">{{convocatoria.name}}</a>
          </dt>
          <dd>
            <section class="round-tabs text-center">
              <ul class="nav nav-pills">
                {% for grupo in grupos %}
                <li>
                  <a data-toggle="tab" href="#tab-{{grupos.name | slugify}}-{{grupo.name | slugify}}">{{grupo.name}}</a>
                </li>
                {% endfor %}
              </ul>
              <div class="panel-body">
                <div class="tab-content">
                  {% for grupo in grupos %}
                  <div id="tab-{{grupos.name | slugify }}-{{grupo.name | slugify}}" class="tab-pane">
                    {% assign fases = grupo.items | group_by:"fase" %}
                    <dl class="accordion {{grupo.name | slugify}}">
                      {% for fase in fases %}
                      <dt>
                        <a href="">{{fase.name}}</a>
                      </dt>
                      <dd>
                        {% for post in fase.items reversed %}
                        {%assign path_fase = page.proceso | append: "/" | append: convocatoria.name | append: "/" | append: grupo.name | append: "/" | append: fase.name %} 
                        <div>
                          <section class="border-tabs">
                            <ul class="nav nav-tabs">
                              {% for seccion in site.data.secciones.secciones %}
                              {% assign path_seccion = path_fase | append: "/" | append: seccion.nombre %}
                              <li>
                                <a data-toggle="tab" href="#tab-{{path_seccion | slugify}}">{{seccion.texto}}</a>
                              </li>
                              {% endfor %}
                            </ul>
                              <div class="panel-body">
                                <div class="tab-content">
                                  {% for seccion in site.data.secciones.secciones %}
                                  {% assign path_seccion = path_fase | append: "/" | append: seccion.nombre %}
                                  <div id="tab-{{path_seccion | slugify}}" class="tab-pane">
                                    {% for col in site.collections %}
                                    {% if seccion.carpeta %}
                                    {% assign documentos = col.files | where_exp: "item", "item.path contains path_seccion "%}
                                    {% for doc in documentos %}
                                    <p>
                                      <!--
                                           TODO
                                           No funciona why!!!!!!????
                                           <a href="{{site.baseurl}}{{doc.path}}">{{ doc.name}}</a>
                                         -->
                                      <a href="{{site.baseurl}}/{{col.label}}/{{path_seccion}}/{{doc.name}}">{{doc.name}}</a>
                                    </p>
                                    {% endfor %}
                                    {% else %}
                                    {% assign documentos = col.docs | where_exp: "item", "item.path contains path_seccion"%}
                                    {% for doc in documentos %}
                                    <p>
                                      {{ doc.content }}
                                    </p>
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                  </div>
                                  {% endfor %}
                                </div>
                              </div>

                          </section>
                        </div>
                        {% endfor %}
                      </dd>
                      {% endfor %}
                    </dl>
                  </div>

                  {% endfor %}
                </div> 
              </div>
            </section>
          </dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
</div>
<!--section-->
